* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.cell {
    float: left;
}
.cell-right {
    float: right;
}
.row::after {
    display: block;
    content: "";
    clear: both;
}
/*-------------------------------*/
body {
    overflow-x: hidden;
}
.big-wrap {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.big-wrap.active {
    right: 270px;
}
.bg {
    width: calc(100% - 270px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 7;
}
.bg.active {
    display: block;
}




/*-------------------------------*/
.boxa {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 3;
}
.boxa>.boxa1 {
    width: 1280px;
    margin: 0 auto;
}
.boxa>.boxa1>.logo-box {
}
.boxa>.boxa1>.logo-box>a {
    display: block;
    margin-top: 20px;
}
.boxa>.boxa1>.logo-box>a>img {
    width: 100%;
}
.boxa>.boxa1>.ham-btn {
    width: 20px;
    height: 50px;
    padding-top: 30px;
    border-top: 5px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: 1s;
}
.boxa>.boxa1>.ham-btn>span {
    display: block;
    width: 80%;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    margin-top: 3px;
}
.boxa>.boxa1>.ham-btn:hover {
    border-top: 5px solid black;
}
.boxa>.boxa1>.menu {
    width: 600px;
}
.boxa>.boxa1>.menu>ul {
    width: 100%;
    line-height: 90px;
}
.boxa>.boxa1>.menu>ul>li {
    width: 16.6666%;
    text-align: center;
}
.boxa>.boxa1>.menu>ul>li>a {
    padding-top: 30px;
    border-top: 5px solid transparent;
}
.boxa>.boxa1>.menu>ul>li>a>i {
    font-size: 12px;
}
.boxa>.boxa1>.menu>ul>li>ul {
    font-size: 12px;
    background-color: white;
    display: none;
    width: 200px;
    position: absolute;
    text-align: left;
    line-height: 25px;
    z-index: 100;
}
.boxa>.boxa1>.menu>ul>li>ul>li {
    border-top: 1px solid black;
    padding-left: 20px;
}
.boxa>.boxa1>.menu>ul>li:hover ul {
    display: block;
}
.boxa>.boxa1>.menu>ul>li:hover>a {
    border-top: 5px solid black;
    transition: 1s;
}









.boxa>.boxa1>.side-menu {
    width: 270px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -270px;
    background-color: #1c1c1c;
    color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 999;
}
.boxa>.boxa1>.side-menu.active {
    right:0;
}
.boxa>.boxa1>.side-menu>.close-btn {
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
}
.boxa>.boxa1>.side-menu>.close-btn>i {
    transition: 1s;
}
.boxa>.boxa1>.side-menu>.side-menu-box {
    margin-top: 50px;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li {
    line-height: 35px;
    border-top: 1px solid white;
    position: relative;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li:last-child {
    border-bottom: 1px solid white;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>ul {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>ul>li {
    padding-left: 20px;
    border-top: 1px solid white;
    transition: 1s;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>i {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
    transition: 0.5s;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>b>i {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 1;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>i.active {
    opacity: 0;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>i.active + ul {
    max-height: 200px;
} 
.boxa>.boxa1>.side-menu>.sns3-box {
    text-align: center;
}
.boxa>.boxa1>.side-menu>.sns3-box>a {
    margin-right: 20px;
}
.boxa>.boxa1>.side-menu>.sns3-box>a:last-child {
    margin-right: 0;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>span {
    transition: 1s;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li:hover span {
    color: #777777;
}
.boxa>.boxa1>.side-menu>.side-menu-box>ul>li>ul>li:hover {
    color: #777777;
}
.boxa>.boxa1>.side-menu>.close-btn:hover i {
    transform: rotate(-180deg);
}





























/*-------------------------------*/
.boxb {
    width: 100%;
    margin-top: 92px;
}
.boxb>.boxb1 .prev-btn {
    position: absolute;
    left: 30px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 666;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    color: white;
}
.boxb>.boxb1 .next-btn {
    position: absolute;
    right: 30px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 666;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    color: white;
}
.boxb>.boxb1 .slick-dots {
    bottom: 20px;
    opacity: 0;
    transition: all 1s;
}
.boxb>.boxb1 .slick-dots li button:before {
    content: "";
}
.boxb>.boxb1 .slick-dots li {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0px 2px;
}
.boxb>.boxb1 div>img {
    width: 100%;
}
.boxb:hover .slick-dots {
    opacity: 1;
} 
.boxb:hover .prev-btn {
    opacity: 1;
}
.boxb:hover .next-btn {
    opacity: 1;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
/*-------------------------------*/
.boxc {
    width: 100%;
    background-color: black;
    padding: 80px 0px;
}
.boxc>.boxc1 {
    max-width: 1280px;
    margin: 0 auto;
}
.boxc>.boxc1>div {
    width: 32%;
    color: white;
    margin-right: 2%;
}
.boxc>.boxc1>div:nth-child(1) {
    font-size: 30px;
}
.boxc>.boxc1>div:nth-child(2) {
    font-size: 11px;
}
.boxc>.boxc1>div:nth-child(3) {
    font-size: 11px;
    margin-right: 0;
}
.boxc>.boxc1>div>p {
    line-height: 18px;
}
/*-------------------------------*/
.boxd {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.boxd>.boxd1 {
    width: 1280px;
    margin: 0 auto;
}
.boxd>.boxd1>div {
    width: 32%;
    margin-right: 2%;
}
.boxd>.boxd1>div:last-child {
    margin-right: 0;
}
.boxd>.boxd1>div>p {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.boxd>.boxd1>div>p:before {
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.boxd>.boxd1>div>p:after {
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    background-color: black;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.boxd>.boxd1>div>.slick-test {
    width: 100%;
}
.boxd>.boxd1>div>.slick-test .slick-test-list {
    width: 100%;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .img-box {
    width: 100%;
    position: relative;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .img-box .gb {
    display: block;
    position: absolute;
    width: 90%;
    background: rgba(0,0,0,0.5);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .img-box .gb .plus-font {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    opacity: 0;
    transition: 0.5s;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .img-box img {
    width: 90%;
    margin: 0 auto;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .img-box:hover .gb {
    opacity: 1;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .img-box:hover .plus-font {
    opacity: 1;
}
.boxd>.boxd1>div>.slick-test .prev-btn2 {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1111;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9999;
}
.boxd>.boxd1>div>.slick-test .next-btn2 {
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1111;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9999;
}
.boxd>.boxd1>div>.slick-test:hover .prev-btn2 {
    opacity: 1;
    left: 30px;
}
.boxd>.boxd1>div>.slick-test:hover .next-btn2 {
    opacity: 1;
    right: 30px;
}
.boxd>.boxd1>div>.slick-test .slick-test-list .ga {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}
.boxd>.boxd1>div>.slick-test .slick-test-list p {
    margin-top: 50px;
    position: relative;
    font-size: 13px;
    color: gray;
}
.boxd>.boxd1>div>.slick-test .slick-test-list p:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: -20px;
    left: 0;
}
.boxd>.boxd1>.box3>.slick-test .aaaaa p {
    display: none;
}
.boxd>.boxd1>.box3>.slick-test .bbbbb p {
    display: none;
}
.boxd>.boxd1>div>.see-btn {
    display: block;
    width: 100px;
    height: 30px;
    background-color: #e5e5e5;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 13px;
    transition: 0.5s;
}
.boxd>.boxd1>div>.see-btn:hover {
    background-color: white;
}
/*-------------------------------*/
.boxe {
    width: 100%;
    background-color: #f7f7f7;
    padding: 50px 0px;
}
.boxe>.boxe1 {
    width: 1280px;
    margin: 0 auto;
}
.boxe>.boxe1>.box1 {
    width: 70%;
}
.boxe>.boxe1>.box2 {
    width: 30%;
}
.boxe>.boxe1>.box1>.box1-1 {
    width: 100%;
}
.boxe>.boxe1>.box1>.box1-1>iframe {
    width: 98%;
    height:500px;
}
.boxe>.boxe1>.box1>.box1-2 {
    width: 100%;
}
.boxe>.boxe1>.box1>.box1-2>.aa {
    font-size: 30px;
    padding: 30px 0px;
}
.boxe>.boxe1>.box1>.box1-2>.ab {
    line-height: 25px;
}
.boxe>.boxe1>.box1>.box1-2>a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: gray;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}
.boxe>.boxe1>.box2>.box2-1 {
    width: 100%;
}
.boxe>.boxe1>.box2>.box2-1>img {
    width: 100%;
}
.boxe>.boxe1>.box2>.box2-2 {
    width: 100%;
}
.boxe>.boxe1>.box2>.box2-2>a>img {
    width: 100%;
}
/*-------------------------------*/
.boxf {
    background-image: url(../img/boxf.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    background-position: center;
}
.boxf>p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
}
/*-------------------------------*/
.boxg {
    width: 100%;
    height: 850px;
    position: relative;
}
.boxg>.boxg1 {
    width: 100%;
    background-image: url(../img/bigimg.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.boxg>.boxg1>.box1 {
    position: absolute;
    bottom: 170px;
    right: 330px;
}
.boxg>.boxg1>.box1>img {
    width: 100%;
}
/*-------------------------------*/
.boxh {
    width: 100%;
    background-color: #333333;
}
.boxh>.boxh1 {
    width: 1280px;
    margin: 0 auto;
    padding-top: 30px;
}
.boxh>.boxh1>div {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.boxh>.boxh1>.box1>h1 {
    font-size: 17px;
    color: gray;
    font-weight: lighter;
}
.boxh>.boxh1>.box1>p {
    font-size: 14px;
    margin-top: 20px;
    color: gray;
}
.boxh>.boxh1>.box1>.bb {
    margin-top: 30px;
}
.boxh>.boxh1>.box2>h1 {
    font-size: 19px;
    color: gray;
    font-weight: lighter;
}
.boxh>.boxh1>.box2>p {
    font-size: 13px;
    margin-top: 20px;
    color: gray;
    line-height: 20px;
}
.boxh>.boxh1>.box3 {
    color: gray;
    position: relative;
}
.boxh>.boxh1>.box3>h1 {
    font-size: 19px;
    color: gray;
    font-weight: lighter;
    margin-bottom: 20px;
}
.boxh>.boxh1>.box3>.va {
    font-size: 13px;
}
.boxh>.boxh1>.box3>.vb {
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.boxh>.boxh1>.box3>.sns-box {
    font-size: 25px;
    letter-spacing: -3px;
}
.boxh>.boxh1>.box3>h2 {
    font-size: 13px;
    margin-top: 27px
}
.boxh>.boxh1>.box3>.mon {
    position: absolute;
    top: 47px;
    left: 45px;
    border: 1px solid black;
    font-size: 13px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 20px;
    box-sizing: border-box;
}
.boxh>.boxh1>.box3>.mon>i {
    display: block;
    position: absolute;
    width: 30px;
    height: 29px;
    background-color: #333333;
    color: black;
    text-align: center;
    line-height: 30px;
    border-left:1px solid black;
    border-bottom:1px solid black;
    top: 0px;
    right: 0px;
    color: gray;
    box-sizing: border-box;
}
.boxh>.boxh1>.box3>.mon>.click-box {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    height: 200px;
    background-color: white;
    overflow-y: auto;
    display: none;
    box-sizing: border-box;
}
.boxh>.boxh1>.box3>.mon>.click-box>ul>li {
    padding-left: 10px;
}
.boxh>.boxh1>.box3>.mon.active .click-box {
    display: block;
}
.boxh>.boxh1>.box3>.mon>.click-box>ul>li:hover {
    background-color: skyblue;
}
.boxh>.boxh1>.box4>table {
    width: 100%;
    border-collapse: collapse;
}
.boxh>.boxh1>.box4>table>caption {
    border-top: 1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    line-height: 40px;
    color: white;
    font-size: 13px;
    
}
.boxh>.boxh1>.box4>table>thead>tr>th {
    border: 1px solid #777777;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 11px;
    padding: 10px 0px;
    background-color: #272727;
}
.boxh>.boxh1>.box4>table>tbody>tr>td {
    border: 1px solid #777777;
    text-align: center;
    font-size: 13px;
    padding: 5px 0px;
    color: white;
}
.boxh>.boxh1>.box4>table>tbody>tr>td:hover {
    background-color: #272727;
}
.boxh>.boxh1>.box4>table>tfoot>tr>td {
    font-size: 13px;
    color: white;
    font-weight: lighter;
}
/*-------------------------------*/
.boxi {
    width: 100%;
    background-color: black;
}
.boxi>p {
    color: white;
    font-size: 13px;
    line-height: 60px;
    text-align: center;
}
/*-------------------------------*/
.up-btn {
    position:fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    transition: 1s;
}
.up-btn>i {
    font-size: 60px;
    opacity: 0.5;
}
.boxe991 {
    display: none;
}
.youtube-box {
    display: none;
}

























/*---------미디어쿼리--------------------*/
@media screen and (max-width:1440px) {
    .boxa>.boxa1 {
        width: 1170px;
    }
    .boxc>.boxc1 {
        width: 1170px;
    }
    .boxd>.boxd1 {
        width: 1170px;
    }
    .boxd>.boxd1>div>p:before {
    width: 130px;
    }
    .boxd>.boxd1>div>p:after {
    width: 130px;
    }
    .boxe>.boxe1 {
        width: 1170px;
    }
    .boxh>.boxh1 {
        width: 1170px;
    }
    .boxg>.boxg1>.box1 {
    bottom: 170px;
    right: 50px;
    }
}
@media screen and (max-width:1200px) {
    .boxa>.boxa1 {
        width: 970px;
    }
    .boxc>.boxc1 {
        width: 970px;
    }
    .boxd>.boxd1 {
        width: 970px;
    }
    .boxd>.boxd1>div>p:before {
    width: 100px;
    }
    .boxd>.boxd1>div>p:after {
    width: 100px;
    }
    .boxe>.boxe1 {
        width: 970px;
    }
    .boxh>.boxh1 {
        width: 970px;
    }
    .boxg>.boxg1>.box1 {
    bottom: 170px;
    right: 50px;
    }
    .boxe>.boxe1>.box1>.box1-1>iframe {
    height:350px;
    }
}
@media screen and (max-width:991px) {
    .boxa>.boxa1 {
        width: 720px;
    }
    .boxa>.boxa1>.menu {
        display: none;
    }
    .boxc>.boxc1 {
        width: 720px;
    }
    .boxd>.boxd1>.box2 {
        display: none;
    }
    .boxd>.boxd1>.box3 {
        display: none;
    }
    .boxd>.boxd1 {
        width: 720px;
    }
    .boxd>.boxd1>.box1 {
        width: 100%;
    }
    .boxd>.boxd1>div>p:before {
    width: 40%;
    }
    .boxd>.boxd1>div>p:after {
    width: 40%;
    }
    .boxd>.boxd1>div>.slick-test .slick-test-list .img-box .gb {
    height: 100%;
    }
    .boxe {
        display: none;
    }
    .boxg {
        margin-top: 100px;
    }
    .boxe991 {
        display: block;
        width: 100%;
    }
    .boxe991>.boxe991a {
        width: 720px;
        margin: 0 auto;
    }
    .boxe991>.boxe991a>div {
        width: 50%;
        position: relative;
    }
    .boxe991>.boxe991a>div>img {
        width: 100%;
    }
    .boxe991>.boxe991a>div>a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        line-height: 350px;
        font-size: 50px;
        opacity: 0;
        transition: 0.5s;
        color: white;
    }
    .boxe991>.boxe991a>div>a>p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .boxe991>.boxe991a>div>a:hover {
        opacity: 1;
    }
    .boxe991>.boxe991b {
        width: 100%;
        border-top: 1px solid black;
        padding-top: 30px;
    }
    .boxe991>.boxe991b>.boxe991b-1 {
        width: 720px;
        margin: 0 auto;
    }
    .boxe991>.boxe991b>.boxe991b-1>div {
        width: 25%;
        position: relative;
    }
    .boxe991>.boxe991b>.boxe991b-1>div>img {
        width: 100%;
    }
    .boxe991>.boxe991b>.boxe991b-1>div>a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        line-height: 240px;
        font-size: 50px;
        color: white;
        opacity: 0;
        transition: 0.5s;
    }
    .boxe991>.boxe991b>.boxe991b-1>div>a>p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .boxe991>.boxe991b>.boxe991b-1>div>a:hover {
        opacity: 1;
    }
    .boxe991c {
        width: 100%;
    }
    .boxe991c>.boxe991c-1 {
        width: 720px;
        margin: 0 auto;
    }
    .boxe991c>.boxe991c-1>.slick-last {
        width: 100%;
    }
    .boxe991c>.boxe991c-1>.slick-last .slick-last-list {
        padding: 10px;
        box-sizing: border-box;
    }
    .slick-last .slick-last-list .slick-last-imgbox {
        position: relative;
    }
    .slick-last .slick-last-list .slick-last-imgbox>img {
        width: 100%;
    }
    .slick-last .slick-last-list .slick-last-imgbox>a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        line-height: 120px;
        font-size: 30px;
        color: white;
        opacity: 0;
        transition: 0.5s;
    }
    .slick-last .slick-last-list .slick-last-imgbox>a:hover {
        opacity: 1;
    }
    .slick-last .slick-last-list>.slick-last-a {
        display: block;
        padding-top: 20px;
        font-size: 18px;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }
    .slick-last .slick-last-list>.slick-last-p {
        padding-top: 20px;
        color: #9b9b9b;
        font-size: 13px;
    }
    .slick-last .prev-btn9 {
        position: absolute;
        top: 50%;
        left: 0px;
        font-size: 30px;
        z-index: 999;
        opacity: 0;
        transition: 0.5s;
        cursor: pointer;
    }
    .slick-last .next-btn9 {
        position: absolute;
        top: 50%;
        right: 0px;
        font-size: 30px;
        z-index: 999;
        opacity: 0;
        transition: 0.5s;
        cursor: pointer;
    }
    .boxe991c>.boxe991c-1:hover .prev-btn9 {
        opacity: 1;
        left: 30px;
    }
    .boxe991c>.boxe991c-1:hover .next-btn9 {
        opacity: 1;
        right: 30px;
    }
    .youtube-box {
        display: block;
        width: 100%;
        background-color: #dddddd;
        padding-bottom: 50px;
    }
    .youtube-box>.youtube-boxa {
        width: 720px;
        margin: 0 auto;
        padding-top: 40px;
    }
    .youtube-box>.youtube-boxa>iframe {
        width: 100%;
        height: 400px;
    }
    .youtube-box>a {
        display: block;
        width: 200px;
        height: 50px;
        background-color: gray;
        border-radius: 10px;
        color: white;
        text-align: center;
        line-height: 50px;
        margin: 0 auto;
    }
    .boxg {
        margin-top: 0;
    }
    .boxg>.boxg1 {
        background-attachment: scroll;
    }
    .boxh {
        width: 100%;
    }
    .boxh>.boxh1 {
        width: 750px;
    }
    .boxh>.boxh1>.box3>.mon {
        top: 77px;
        left: 10px;
    }
    .boxh>.boxh1>.box3>.vb {
        margin-top: 60px;
    }   
}
@media screen and (max-width:767px) {
    .boxc>.boxc1>div {
        width: 100%;
        margin-bottom: 20px;
    }
    .boxh {
        width: 100%;
    }
    .boxh>.boxh1 {
        width: 100%;
    }
    .boxh>.boxh1>div {
        width: 100%;
    }
    .boxh>.boxh1>.box4>table {
        width: 95%;
        margin: 0 auto;
    }
    .boxg>.boxg1 {
        background-position: center;
    }
    .boxh>.boxh1>.box3>.mon {
        top: 47px;
        left: 47px;
    }
    .boxh>.boxh1>.box3>.mon>.click-box {
        bottom:-200px;
    }
    .boxd {
        width: 100%;
    }
    .boxd>.boxd1 {
        width: 90%;
    }
    .boxd>.boxd1>div>p:before {
    width: 30%;
    }
    .boxd>.boxd1>div>p:after {
    width: 30%;
    }
    .boxa {
        width: 100%;
    }
    .boxa>.boxa1 {
        width: 90%;
    }
    .boxb {
        width: 100%;
    }
    .boxc {
        width: 100%;
    }
    .boxc>.boxc1 {
        width: 95%;
    }
    .boxe991 {
        width: 100%;
    }
    .boxe991>.boxe991a {
        width: 100%;
    }
    .boxe991>.boxe991b>.boxe991b-1 {
        width: 100%;
    }
    .boxe991>.boxe991c {
        width: 100%;
    }
    .boxe991>.boxe991c>.boxe991c-1 {
        width: 100%;
    }
    .youtube-box {
        width: 100%;
    }
    .youtube-box>.youtube-boxa {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
    }
    .youtube-box>.youtube-boxa>iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .youtube-box>a {
        margin-top: 80px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}





















